@media only screen and (max-width: 1000px) {
.centerContent {
    margin: 10px 3%;
    width: 95%;
}
.blockPcontent {
    width: 100%!important;
}    
/***** START HEADER *****/
menu {
    display: none!important;

    width: 70%;
    display: inline-block;
}
menu > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
menu > ul > .menuItem {
    list-style: none;
    line-height: 40px;
    transition-duration: 200ms;
    font-weight: 500;
    font-size: 0.8rem;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 6px;
}
.menuItem > span {
    padding: 14px 0;
}
menu > ul > .menuItem:hover {
    cursor: pointer;
    color: var(--colorHeader);
    background-color: var(--colorWhite);
    box-shadow: 0 0 5px black;
}
.lang {
    height: 100%;
    margin: 0 10px;
    padding: 0 5px;
    border-left: 1px solid var(--colorWhite);
    border-right: 1px solid var(--colorWhite);
    display: flex;
    align-items: center;
}
.lang > span:hover {
    cursor: pointer;
}
.account {
    display: flex;
    align-items: center;
}
.account:hover {
    cursor: pointer;
}
.account > img {
    max-height: 36px;
    padding-right: 5px;
}
.account > p > span:hover {
    text-decoration: underline;
    color: var(--colorHalfWhite);
}
.menuItem:hover > ul {
    display: block;
    margin-left: -6px;
}
.hideMenuItem {
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: var(--colorWhite);
    box-shadow: 0 5px 10px rgb(90, 83, 83);
}
.hideMenuItem > li {
    list-style: none;
    transition-duration: 200ms;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0 6px;
    border-bottom: 1px solid rgba(25, 50, 70, 0.1)
}
.hideMenuItem > li:hover {
    background-color: var(--colorHeader);
    color: var(--colorWhite);
}
/***** END HEADER *****/
/***** START HEADER TWO *****/
.headerTwo {
    flex-direction: column;
    padding-bottom: 10px;
}
.headerTwo > .logo {
    width: 100%;
}
.headerTwo > .logo:hover {
    width: 100%;
}
.headerTwo > .search {
    width: 100%;
}
.headerTwo > .search > input {
    margin-left: 24px;
    margin-top: 10px;
}
/***** END HEADER TWO *****/
/***** START SLIDER *****/
.slider {
    display: flex;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    margin-bottom: -55px;
}
.imgSlider {
    width: 100%;
    position: relative;
    left: -55px;
}
.imgSlider > img {
    width: 100vw;
}
.arrow {
    position: relative;
    width: 55px;
    height: 55px;
    z-index: 88;
    left: 10px;
    padding: 3px;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.4);
}
.arrowTwo {
    left: -140px;
}
.arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);
}
.paginationSlider {
    position: relative;
    top: -50px;
    text-align: center;
}
.datSlider {
    width: 10px;
    height: 10px;
    color:rgba(255, 255, 255, 0.4);
    font-size: 3rem;
    margin: 0 5px;
}
.datSlider:hover {
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}
.datSliderActive {
    color:rgba(255, 255, 255, 1);
}
/***** END SLIDER *****/
/***** START FOOTER *****/
footer {
    background-color: var(--colorHeader);
    color: var(--colorHalfWhite);
    min-height: 400px;
    padding: 20px;
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerContent {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 5px;

}
.footerMenu {
    width: 100%;
    margin: 10px;

}
.footerLogo > h1 {
    font-size: 1rem;
    width: 100%;
}
/***** END FOOTER *****/
}