* {
    /* Переменные */
    --transitionDuration: 500ms;

    --colorZeroDark: rgb(255, 255, 255);
    --colorOneDark: rgb(255, 255, 255);
    --colorTwoDark: rgb(255, 255, 255);
    --colorThreeDark: rgb(255, 255, 255);

    --colorHeader: rgb(25, 50, 70);
    --colorWhite: rgb(255, 255, 255);
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: var(--transitionDuration);
    outline: none;
    transition-duration: 600ms;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}
.fullScreen {
    background-color: var(--colorTwoDark);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp {
    display: block;
    width: 90%;
    margin: 20px;
    margin-left: 5%;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    color: var(--colorOneDark);
    background: var(--colorZeroDark);
    border: none;
}
.inp:focus {
    background: white;
    padding-left: 20px;
}
.btn {
    display: block;
    width: 90%;
    margin: 20px;
    margin-left: 5%;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: var(--colorThreeDark);
    color: var(--colorOneDark);
    border: 1px solid var(--colorThreeDark);
}
.btn:hover {
    background: var(--colorOneDark);
    color: var(--colorThreeDark);
}
/***** START HEADER *****/
header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: var(--colorHeader);
    color: var(--colorWhite);
    box-shadow: 0 0 10px rgba(25, 50, 70, 1);
}
menu {
    color: var(--colorWhite);
    width: 50%;
    display: inline-block;
}
menu > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
menu > ul > .menuItem {
    list-style: none;
    line-height: 40px;
    transition-duration: 200ms;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0 6px;
}
menu > ul > .menuItem:hover {
    cursor: pointer;
    color: var(--colorHeader);
    background-color: var(--colorWhite);
}
.lang {
    height: 100%;
    margin: 0 10px;
    padding: 0 5px;
    border-left: 1px solid var(--colorWhite);
    border-right: 1px solid var(--colorWhite);
}
.lang > span {
    line-height: 40px;
}
.lang > span:hover {
    cursor: pointer;
}
/***** END HEADER *****/
/***** START HEADER TWO *****/
.headerTwo {
    position: relative;
    display: flex;
    top: 40px;
    left: 0;
    min-height: 110px;
    width: 100vw;
}
.headerTwo > .logo {
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-between;
}
.headerTwo > .logo:hover {
    cursor: pointer;
}
.headerTwo > .logo > img {
    max-height: 80px;
    margin: 5px;
}
.headerTwo > .logo > img:hover {
    animation: spinLogo 0.2s linear;
}
.headerTwo > .logo > h1 {
    text-align: center;
    font-size: 1.4rem;
    color: var(--colorHeader);
}
.headerTwo > .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}
.headerTwo > .search > input {
    width: 18vw;
    font-size: 1.4rem;
    padding: 6px 12px;
    border-radius: 50px;
    border: 2px solid var(--colorHeader);
}
.headerTwo > .search > input:focus {
    width: 28vw;
    font-size: 1.5rem;
}
@keyframes spinLogo {
    50% {
        transform: rotateY(180deg);
    }
}
.headerTwo > .logo > p {
    display: inline;
}
/***** END HEADER TWO *****/