* {
    /* Переменные */
    --transitionDuration: 500ms;

    --colorZeroDark: rgb(255, 255, 255);
    --colorOneDark: rgb(255, 255, 255);
    --colorTwoDark: rgb(255, 255, 255);
    --colorThreeDark: rgb(255, 255, 255);

    --colorHeader: rgb(25, 50, 70);
    --colorWhite: rgb(255, 255, 255);
    --colorHalfWhite: rgb(185, 185, 185);
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: var(--transitionDuration);
    outline: none;
    transition-duration: 600ms;
}
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fullScreen {
    background-color: var(--colorTwoDark);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp {
    display: block;
    width: 90%;
    margin: 20px;
    margin-left: 5%;
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    color: var(--colorOneDark);
    background: var(--colorZeroDark);
    border: none;
}
.inp:focus {
    background: white;
    padding-left: 20px;
}
.btn {
    display: block;
    width: 90%;
    margin: 20px;
    margin-left: 5%;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: var(--colorThreeDark);
    color: var(--colorOneDark);
    border: 1px solid var(--colorThreeDark);
}
.btn:hover {
    background: var(--colorOneDark);
    color: var(--colorThreeDark);
}
/***** START HEADER *****/
header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    z-index: 99999999999999999;
    background-color: var(--colorHeader);
    color: var(--colorWhite);
    box-shadow: 0 0 10px rgba(25, 50, 70, 1);
}
menu {
    color: var(--colorWhite);
    width: 50%;
    display: inline-block;
}
menu > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
menu > ul > .menuItem {
    list-style: none;
    line-height: 40px;
    transition-duration: 200ms;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0 6px;
}
menu > ul > .menuItem:hover {
    cursor: pointer;
    color: var(--colorHeader);
    background-color: var(--colorWhite);
}
.lang {
    height: 100%;
    margin: 0 10px;
    padding: 0 5px;
    border-left: 1px solid var(--colorWhite);
    border-right: 1px solid var(--colorWhite);
}
.lang > span {
    line-height: 40px;
}
.lang > span:hover {
    cursor: pointer;
}
/***** END HEADER *****/
/***** START HEADER TWO *****/
.headerTwo {
    position: relative;
    display: flex;
    top: 40px;
    left: 0;
    min-height: 110px;
    margin-bottom: 35px;
    width: 100vw;
}
.headerTwo > .logo {
    display: flex;
    align-items: center;
    width: 60vw;
    justify-content: space-between;
}
.headerTwo > .logo:hover {
    cursor: pointer;
}
.headerTwo > .logo > img {
    max-height: 80px;
    margin: 5px;
}
.headerTwo > .logo > img:hover {
    animation: spinLogo 0.2s linear;
}
.headerTwo > .logo > h1 {
    text-align: center;
    font-size: 1.4rem;
    color: var(--colorHeader);
}
.headerTwo > .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}
.headerTwo > .search > input {
    width: 18vw;
    font-size: 1.4rem;
    padding: 6px 12px;
    border-radius: 50px;
    border: 2px solid var(--colorHeader);
}
.headerTwo > .search > input:focus {
    width: 28vw;
    font-size: 1.5rem;
}
@keyframes spinLogo {
    50% {
        transform: rotateY(180deg);
    }
}
.headerTwo > .logo > p {
    display: inline;
}
/***** END HEADER TWO *****/
/***** START FOOTER *****/
footer {
    background-color: var(--colorHeader);
    color: var(--colorHalfWhite);
    min-height: 400px;
    padding: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer > hr {
    border-color: var(--colorHalfWhite);
}
.footerContent {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 5px;
}
.footerMenu {
    width: 20%;
}
.footerMenu > ul > li {
    list-style: none;
    font-size: 1.3rem;
    padding: 5px;
}
.footerMenu > ul > li:hover {
    cursor: pointer;
}
.footerLogo > h1 {
    font-size: 1rem;
}
.footerLogo:hover {
    cursor: pointer;
}
.footerLogo > img {
    max-height: 50px;
    margin: 5px;
}
/***** END FOOTER *****/
/***** START SLIDER *****/
.slider {
    display: flex;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
}
.imgSlider {
    width: 100%;
    position: relative;
    left: -55px;
}
.imgSlider > img {
    width: 100vw;
}
.arrow {
    position: relative;
    width: 55px;
    height: 55px;
    z-index: 88;
    left: 10px;
    padding: 3px;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.4);
}
.arrowTwo {
    left: -140px;
}
.arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.8);
}
.paginationSlider {
    position: relative;
    top: -50px;
    text-align: center;
}
.datSlider {
    width: 10px;
    height: 10px;
    color:rgba(255, 255, 255, 0.4);
    font-size: 3rem;
    margin: 0 5px;
}
.datSlider:hover {
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
}
.datSliderActive {
    color:rgba(255, 255, 255, 1);
}
.slides {
    position: relative;
    animation: showSlide 0.3s linear;
}
@keyframes showSlide {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
}
/***** END SLIDER *****/